      <div style="background-color:#383d40">
      <center>
          <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#383d40">
              <tbody><tr>
                  <td align="center" valign="top" style="padding:40px 20px">
                      <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
                          <tbody><tr>
                              <td align="center" valign="top">
                                  <a href="http://www.gopexo.com" title="GoPexo" style="text-decoration:none" target="_blank"><img src="http://www.gopexo.com/assets/pexo.png" alt="GoPexo" height="70" width="" style="border:0;color:#6dc6dd!important;font-family:Helvetica,Arial,sans-serif;font-size:60px;font-weight:bold;min-height:auto!important;letter-spacing:-4px;line-height:100%;outline:none;text-align:center;text-decoration:none"></a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;text-align:center">
                                                <%= image_tag "emailpic.jpg" width: "100%" %>
                                            </td>
                                            </tr>

                                            <tr>
                                            <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:30px;padding-right:40px;padding-bottom:40px;padding-left:40px;text-align:center">
                                                <h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Welcome to GoPexo</h1>
                                                <br>
                                                <h3 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:18px;letter-spacing:-.5px;line-height:115%;margin:0;padding:0;text-align:center">The easy way to plan group trips</h3>
                                                <br>
                                                Thank you for your interest. We're working really hard to get the beta launch ready, so stay tuned! If you are interested in being a part of alpha testing, simply send us a quick reply following this message and we'll get back to you. 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-right:40px;padding-bottom:40px;padding-left:40px;text-align:center">
                                                <a href="https://www.facebook.com/pages/GoPexo/114367395400643"><%= image_tag "icons/facebook.png" %></a>
                                                <a href="https://twitter.com/GoPexo"><%= image_tag "icons/twitter.png" %></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                          <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">
                                              &copy; 2013 GoPexo<span style="font-size:10px!important;vertical-align:super"></span>, All Rights Reserved.
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </center>

