<div class="mobile-content bg-black" style="height: 400px; padding-top: 150px">
  <div style="text-align: center;">           
      <%= image_tag('pexo.png') %>

      <h3 style="color:white">Thank you for signing up!</h3>
      <h4>We're working hard to get our beta out as soon as possible. In the meantime, please share GoPexo with your friends!</h4>

  </div>
</div>

<script type='text/javascript'>
	$('document').ready(function() {
		$("#footer").hide();
	});
</script>
