<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <img src="http://gopexo.com/assets/pexo.png">
  <br>
    <h1>Thank you for signing up!</h1>
    <p>
      Thank you and welcome to the <%= link_to "GoPexo Family", root_url %>!
      <br>
      We are currently under development and we're seeking a few people for alpha testing. If you are interested in playing around with some new technology, let us know and we can chat.
    </p>
    <p>
      Jeffrey Tong
    </p>
  </body>
</html>
