h1{
	font-size: 130px;
	font-family: "Roboto Slab";
	font-weight: 300;
	line-height: 1.5;
}
h2,h3, h4, p {
	font-family: "Roboto Slab";
	font-weight: 300;
	line-height: 1.5;
}

h4 {
	font-size: 16px;
}

p {
	font-size: 18px;
}

.about-big {
	height: 35%;
	text-align: center;
}

.profile-pic {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile-column {
	text-align: center;
	min-width: 300px;
}

.grey-about {
	background: lightgrey;
	min-height: 54%;
	padding: 20px;
	padding-top: 50px;
}

.back {
	text-decoration: none;
	text-align:center;
	font-size: 20px;
	font-weight: bold;
}
.back a{
	color: black;
}
.back a:hover{
	text-decoration: none;
	color: #e74c3c;
}