<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="about.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <title>About Us</title>
  </head>
	<body>
	  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
	  <div class="navbar navbar-inverse"></div>
	  <div class="jumbotron masthead about-big">
      <a href="/"><img src="/images/pexo.png"></a>
	  	<h2>Meet the Team</h2>
	  </div>
	  <div class="container-fluid grey-about">
	  	<div class="row-fluid">
		  	<div class="span4 profile-column">
		  		<img class="profile-pic" src="/images/hola.jpg">
		  		<h3><b>Yat Choi</b></h3>
		  		<p>Yat is a Computer Science student at the University of Waterloo. He is currently in his last term and is using GoPexo to plan his Grad Trip! All he wants for his birthday is some big duty code.</p>
		  		<h4><b>Favourite Quote:</b> "Truuuuuuu"</h4>
		  	</div>
		  	<div class="span4 profile-column">
		  		<img class="profile-pic" src="/images/rsz_jeff2.jpg">
		  		<h3><b>Jeffrey Tong</b></h3>
          <p>Jeffrey Tong is a Chemical Engineering student at the University of Waterloo. He is currently in 4A, and is also David Copperfield.</p>
		  		<h4><b>Favourite Meme:</b> "Bro do you even lift?"</h4>
		  	</div>
		  	<div class="span4 profile-column">
		  		<img class="profile-pic" src="/images/finn.jpg">
		  		<h3><b>Deepak Parpyani</b></h3>
		  		<p>Jake the Dog and Finn the Human, the fun never ends, its Adventure Time!</p>
		  	</div>
		  </div>
	  </div>
	</body>
</html>