@import "bootstrap";

$grayMediumLight: #eaeaea;

footer {
  background-color : rgba(0, 0, 0, 0.75);
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  margin-top: 10px;
  padding-top: 5px;
  color: #f4e03a;
  a {
    color: #f4e03a;
    &:hover { 
      color: white;
    }
  }  
  nav{
    padding-right: 30px;
  }
  small { 
    float: left; 
    padding-left: 30px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      }
    }
  }

