.mobile-content {
	margin-top: -10px;
	padding-top: 50px;
	h1 {
		font-family: "Sorts Mill Goudy";
		font-weight: 300;
		color: white;
	}
	h3 {
		font-family: "Roboto Slab";
		font-weight: 300;
		color: black;
		text-align: center;
	}
	p {
		font-family: "Roboto Slab";
		font-weight: 300;
	}
}

.bg-black {
	background: black;
}

.mobile-signup {
	text-align: center;
	background: beige;
}