p {
	font-family: "Roboto Slab";
	font-weight: 300;
	text-align: center;
}
.mobile-content {
	margin-top: -10px;
	padding-right: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center;
	h1 {
		font-family: "Sorts Mill Goudy";
		font-weight: 300;
		color: white;
	}
	h3 {
		font-family: "Roboto Slab";
		font-weight: 300;
		color: black;
	}
	li {
		font-family: "Roboto Slab";
		font-weight: 300;
		color: black;
		font-size: 20px;
		list-style-type: none;
		margin-top: 30px;
	}
}

.bg-black {
	background: black;
}

.mobile-signup {
	text-align: center;
	background: beige;
}

.mobile-img {
	border-radius: 50%;
	width: 50%;
	height: 30%;
}
