  <footer class="visible-desktop" id="footer">
   <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b7f4835a9fac8a"></script>
  <!-- AddThis Button END -->
    <div class="row-fluid footer-container">
      <div class="span8 offset2">
        <div class="span4">
          <div class="footer-header">
            <h5><b>GoPexo</b></h5>
          </div>
          <a href="/about">About Us</a>
          <br/>
          <a href="mailto:gopexonow@gmail.com">Contact</a>
        </div>

        <div class="span4">
          <div class="footer-header">
            <h5><b>Social</b></h5>
          </div>
          <a href="http://www.twitter.com/gopexo">Twitter</a>
          <br/>
          <a href="https://www.facebook.com/pages/Gopexo/114367395400643">Facebook</a>
        </div>

        <div class="span4">
          <div class="footer-header">
            <h5><b>Legal</b></h5>
          </div>
          <a href="#">Privacy</a>
          <br/>
          <a href="/imageattr">Images</a>
        </div>
      </div>
    </div>
  </footer>