  <footer class="visible-desktop" id="footer">
    <div class="footer-container">
      <div class="span2">
        <div class="footer-header">
          <h5><b>GoPexo</b></h5>
        </div>
        <a href="/about">About Us</a>
        <br/>
        <a href="#">Contact</a>
      </div>

      <div class="span2">
        <div class="footer-header">
          <h5><b>Social</b></h5>
        </div>
        <a href="http://www.twitter.com/gopexo">Twitter</a>
        <br/>
        <a href="https://www.facebook.com/pages/Gopexo/114367395400643">Facebook</a>
      </div>

      <div class="span2">
        <div class="footer-header">
          <h5><b>Legal</b></h5>
        </div>
        <a href="http//www.google.ca">Privacy</a>
        <br/>
        <a href="#">Images</a>
      </div>
    </div>
  </footer>