<footer class="footer">
  <small>
     GoPexo
  </small>
  <nav>
    <ul>
      <li><i class="icon-envelope"></i> <%= link_to "Email",   "mailto:gopexonow@gmail.com" %></li>
      <li>|</li>
      <li><i class="icon-twitter"></i> <%= link_to "Twitter", "https://twitter.com/GoPexo" %></li>
    </ul>
  </nav>
</footer>